html{
    background-image: url("white.jpg");
}
h1{
    border-top: 10px solid black;
    border-bottom: 10px solid red;
    border-left: 6px solid yellow;
    border-right: 7px solid blue;
    border-radius: 5px;
    align-content: center;
    display: inline-block;
    padding: 5px;
    text-align: center;
    transform: translateX(50%);
  

}
p{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border: 10px solid rgb(172, 163, 152);
    border-radius: 10px;
    padding: 5px;
    font-display: auto;
    display: inline-block;
   
}
#Image{
    width: 50%;
    height: 50%;
    align-items: center;
    border-radius: 5%;
    display: flex;
    transform: translateX(50%);
}
.List{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
#call{
    color: rgb(49, 125, 49);
    border-radius: 6PX;
    background-color: lightgreen;
    border:1px solid;
    font: larger;
    padding: 10px;
}
#infoBox{
    border: 5px solid rgb(21, 21, 19);
    padding: 1%;
    border-radius: 3px;
    margin: auto;
    width: 40%;
    height: 40%;
    background-color: rgb(140, 155, 140);
    
}